body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c8e6e7; 
}

.calculator {
    width: 300px;
    background-color: #f4dada; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    text-align: left; 
    border: none;
    outline: none;
    background-color: #fff;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    background-color: #b0f2b6;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a0e2a6; 
}
